body{
    background-color: aqua;
}
.form{
    float: left;
    width: 50%;
    height: 50vhpx;
    background-color:#5bc0de;
    margin: 5px 10px 5px 0;
    padding: 10px;
    position: relative;
    display: flex;
    
}