body{
    background-color: aqua;
}
.form{
    float: left;
    width: 50%;
    height: 50vhpx;
    background-color:#5bc0de;
    margin: 5px 10px 5px 0;
    padding: 10px;
    position: relative;
    display: flex;
    
}
h1{
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 2px;
    font-size: 48px;
    text-shadow: 2px 2px 5px black;
}
h2{
    text-align: center;
    color: whitesmoke;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 2px;
    font-size: 48px;
    text-shadow: 2px 2px 5px black;
}